Repository nesbox/TIC-80, pull requests merged in 2024-04, with the labels that each got.

#2519 #2257: build languages as shared libs
  CMakeLists.txt
  build/assets/gamecontrollerdb.txt.dat
  build/baremetalpi/Makefile
  cmake/core.cmake
  cmake/demos.cmake
  cmake/janet.cmake
  cmake/lua.cmake
  cmake/mruby.cmake
  cmake/naett.cmake
  cmake/pocketpy.cmake
  cmake/quickjs.cmake
  cmake/scheme.cmake
  cmake/sdl.cmake
  cmake/squirrel.cmake
  cmake/tools.cmake
  cmake/wasm.cmake
  cmake/wren.cmake
  src/api/janet.c
  src/api/js.c
  src/api/lua.c
  src/api/lua_api.h
  src/api/moonscript.c
  src/api/mruby.c
  src/api/parse_note.c
  src/api/python.c
  src/api/scheme.c
  src/api/squirrel.c
  src/api/wasm.c
  src/api/wren.c
  src/core/core.c
  src/core/core.h
  src/core/sound.c
  src/studio/screens/console.c
  src/tools.c
  src/tools.h
  tic80.sublime-project
Labels: API

#2527 #2526: added flags editbox
  src/studio/editors/sprite.c
  src/studio/editors/sprite.h
Labels: editor: sprites

#2528 Compile for MacOS arm64 in CI as well
  .github/workflows/build.yml
Labels: enhancement, platform: macosx
